{% macro print_authors(authors) %}
    {# Get the list of authors #}
    {% set author_list = authors | split(pat="and")%}
    {% set authors_len = author_list | length %}
    {% for author in author_list%}
        {# Separate first name and last name #}
        {% set separated = author | split(pat=",") %}
        {% set first_name = separated[1] | trim %}
        {% set last_name = separated[0] | trim %}

        {# If it is my name, bold font, else normal #}
        {% if first_name == "Baptiste" and last_name == "Esteban" %}
        <strong>{{first_name}} {{ last_name }}</strong>{% if loop.index == authors_len %}{% elif loop.index == authors_len - 1 %} and{% else %},{% endif %}
        {% else %}
        {{first_name}} {{ last_name }}{% if loop.index == authors_len %}{% elif loop.index == authors_len - 1 %} and{% else %},{% endif %}
        {% endif %}                
    {% endfor %}
{% endmacro print_authors %}

{% macro print_bibliography(biblio, filter, title) %}
    {% set entry_list = biblio | filter(attribute="tags.tag", value=filter) %}
    {% set n = entry_list | length %}
    {% if n > 0 %}
    <h2>{{title}}</h2>
    <ul>
        {% for entry in entry_list %}
            <li>
                {% set data = entry.tags %}
                {{ self::print_authors(authors=data.author) }}
                ({{ data.year }})
                <span>{{ data.title }}</span>.
                <i>{{ data.booktitle }}</i>
                {% if data.doi %}
                    <a href="https://doi.org/{{ data.doi }}">{{data.doi}}</a>
                {% endif %}
                {% if data.pdf %}
                    [<a href="{{data.pdf}}">PDF</a>]
                {% endif %}
            </li>
        {% endfor %}
        {% endif %}
    </ul>
{% endmacro print_bibliography %}