<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if section %}
    {% set my_title = " - " ~ section.title %}
    {% else %}
    {% set my_title = "" %}
    {% endif %}
    {% if config.extra.title %}
    {% set base_title = config.extra.title %}
    {% else %}
    {% set base_title = "Personal Website" %}
    {% endif %}
    <title>{{ base_title }} {{ my_title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    {% if section and section.title == "Home" %}
    <link href="font-awesome/icons.css" rel="stylesheet">
    {% endif %}
    {% if section and section.title == "CV" %}
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/tutorials/timelines/timeline-8/assets/css/timeline-8.css">
    {% endif %}
</head>

<body class="d-flex flex-column min-vh-100">

    {% include "components/navbar.html" %}

    <main class="flex-grow-1 mt-4">
        {% block content %} {% endblock content %}
    </main>

    {% include "components/footer.html" %}
</body>

</html>