{% extends "base.html" %}

{% block content %}
<!-- Pro -->
<section>
    <div class="container">
        <div class="card widget-card bsb-timeline-8 border-light shadow-sm">
            <div class="card-body p-4">
                <h3 class="card-title widget-card-title mb-3">Professional Experience</h3>

                <ul class="timeline">
                    <!-- EPITA (Associate Professor) -->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">Associate Professor - EPITA (Le Kremlin-Bicêtre)
                                </h6>
                                <span class="text-secondary fs-7">September 2025 - Today (Full-time)</span><br>
                                <span class="text-secondary fs-7">September 2024 - August 2025 (Part-time, 2 days per week)</span><br>
                                <p>Describe</p>
                            </div>
                        </div>
                    </li>
                    <!-- Spimed-AI -->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">Research Engineer - Spimed-AI (Paris)
                                </h6>
                                <span class="text-secondary fs-7">September 2024 - August 2025 (Part-time, 3 days per
                                    week)</span><br>
                                <span class="text-secondary fs-7">November 2023 - August 2024 (Full-time)</span><br>
                                <p>Describe</p>
                            </div>
                        </div>
                    </li>
                    <!-- EPITA (PhD Student)-->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">PhD Student - EPITA (Le Kremlin-Bicêtre)
                                </h6>
                                <span class="text-secondary fs-7">November 2020 - November 2023</span><br>
                                <p>Describe</p>
                            </div>
                        </div>
                    </li>
                    <!-- Interdigital-->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">Research Engineer Intern - InterDigital (Cesson-Sévigné)
                                </h6>
                                <span class="text-secondary fs-7">March 2020 - August 2020</span><br>
                                <p>Work on the next generation of video encoder
                                / decoder (post-VVC). This work resulted in a <a
                                href="https://doi.org/10.1117/12.2567631">scientific
                                publication</a> and a <a
                                href="https://patents.google.com/patent/US20230336721A1/">patent</a>. This internship was supervised by <a href="https://fr.linkedin.com/in/fabrice-le-leannec-2161621">Fabrice Le Léannec</a>.</p>
                                <p>
                                    <span class="badge text-bg-primary">C++</span>
                                    <span class="badge text-bg-primary">Versatile Video Coding (VVC)</span>
                                    <span class="badge text-bg-primary">VVC Test Model (VTM)</span>
                                    <span class="badge text-bg-primary">Partitioning</span>
                                    <span class="badge text-bg-primary">Asymmetric Binary Tree (ABT)</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- LRDE-->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">Research Engineer Intern - EPITA Research and Development Laboratory (Le Kremlin-Bicêtre)
                                </h6>
                                <span class="text-secondary fs-7">September 2018 - January 2019</span><br>
                                <p>Work on a content-adapted noise level
                                estimation pipeline for univariate images. This
                                work resulted in a <a
                                href="https://doi.org/10.1007/978-3-030-29891-3_33">scientific
                                publication</a>. This internship was supervised
                                by <a
                                href="https://www.lre.epita.fr/perso/guillaume-tochon">Guillaume
                                Tochon</a>.</p>
                                <p>
                                    <span class="badge text-bg-primary">Python</span>
                                    <span class="badge text-bg-primary">Scientific Programming</span>
                                    <span class="badge text-bg-primary">Image Processing</span>
                                    <span class="badge text-bg-primary">Mathematical Morphology</span>
                                    <span class="badge text-bg-primary">Tree of Shapes</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<!-- Education -->
<section>
    <div class="container">
        <div class="card widget-card bsb-timeline-8 border-light shadow-sm">
            <div class="card-body p-4">
                <h3 class="card-title widget-card-title mb-3">Education</h3>
                <ul class="timeline">
                    <!-- Sorbonne Université -->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">Sorbonne Université
                                </h6>
                                <span class="text-secondary fs-7">November 2020 - December 2023</span><br>
                                <p>Obtained a <strong>PhD</strong>. My research was conducted at EPITA Research Laboratory.</p>
                                <ul>
                                    <li><strong>Director:</strong> <a href="https://www.lre.epita.fr/perso/didier-verna">Didier Verna</a>.</li>
                                    <li><strong>Supervisors:</strong> <a
                                href="https://www.lre.epita.fr/perso/guillaume-tochon">Guillaume
                                Tochon</a> and <a href="https://www.lre.epita.fr/perso/edwin-carlinet">Edwin Carlinet</a>.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- EPITA -->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">EPITA
                                </h6>
                                <span class="text-secondary fs-7">September 2015 - August 2020</span><br>
                                <p>Obtained an <strong>Engineering
                                Degree</strong> in computer science, specialized
                                in Image Processing & Computer Graphics, with a
                                double major in Research and Development. From
                                February 2019 to January 2020, I was a
                                student-researcher at the EPITA Research and
                                Development Laboratory (LRDE, now LRE !), where
                                I conducted research on content-adapted noise
                                level estimation for multivariate images under
                                the supervision of
                                <a
                                href="https://www.lre.epita.fr/perso/guillaume-tochon">Guillaume
                                Tochon</a> (following of the internship).</p>
                            </div>
                        </div>
                    </li>
                    <!-- EPITA -->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">Griffith College of Dublin
                                </h6>
                                <span class="text-secondary fs-7">January 2017 - May 2017</span><br>
                                <p>International semester for EPITA during the
                                second year of the cursus. Learned about
                                Operating System Design, Java Programming and
                                Android Programming.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
{% endblock content %}