{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="card widget-card bsb-timeline-8 border-light shadow-sm">
            <div class="card-body p-4">
                <h3 class="card-title widget-card-title mb-3">Professional Experience</h3>

                <ul class="timeline">
                    <!-- EPITA (Associate Professor) -->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">Associate Professor - EPITA (Le Kremlin-Bicêtre)
                                </h6>
                                <span class="text-secondary fs-7">September 2025 - Today (Full-time)</span><br>
                                <span class="text-secondary fs-7">September 2024 - August 2025 (Part-time, 2 days per week)</span><br>
                                <p>Describe</p>
                            </div>
                        </div>
                    </li>
                    <!-- Spimed-AI -->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">Research Engineer - Spimed-AI (Paris)
                                </h6>
                                <span class="text-secondary fs-7">September 2024 - August 2025 (Part-time, 3 days per
                                    week)</span><br>
                                <span class="text-secondary fs-7">November 2023 - August 2024 (Full-time)</span><br>
                                <p>Describe</p>
                            </div>
                        </div>
                    </li>
                    <!-- EPITA (PhD Student)-->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">PhD Student - EPITA (Le Kremlin-Bicêtre)
                                </h6>
                                <span class="text-secondary fs-7">November 2020 - November 2023</span><br>
                                <p>Describe</p>
                            </div>
                        </div>
                    </li>
                    <!-- Interdigital-->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">Research Engineer Intern - InterDigital (Cesson-Sévigné)
                                </h6>
                                <span class="text-secondary fs-7">March 2020 - August 2020</span><br>
                                <p>Describe</p>
                            </div>
                        </div>
                    </li>
                    <!-- LRDE-->
                    <li class="timeline-item">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <span></span>
                            </div>
                            <div class="timeline-content timeline-indicator">
                                <h6 class="mb-1">Research Engineer Intern - EPITA Research and Development Laboratory (Le Kremlin-Bicêtre)
                                </h6>
                                <span class="text-secondary fs-7">March 2020 - August 2020</span><br>
                                <p>Describe</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
{% endblock content %}