{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row" style="display: flex; align-items: stretch;">
        <div class="col-12 col-lg-4 mb-4 mb-lg-0">
            {% include "components/card.html" %}
        </div>
        <div class="col-12 col-lg-8">
            <div class="shadow-none p-4 mb-5 bg-body-tertiary rounded h-100">

                {{ section.content | safe }}

                <br>

                {% if section.extra.keywords and section.extra.keywords | length > 0 %}
                <p>
                    {% if section.extra.keywords | length == 1 %}
                    <strong>Keyword:</strong>
                    {% else %}
                    <strong>Keywords:</strong>
                    {% endif %}
                    &emsp;
                    {% for kw in section.extra.keywords %}
                    <a class="badge text-bg-primary" style="text-decoration: none;" href="{{kw.url}}">
                        {{ kw.title }}
                    </a>
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock content %}