{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row" style="display: flex; align-items: stretch;">
        <div class="col-12 col-lg-4 mb-4 mb-lg-0">
            <div class="card h-100">
                <style>
                    .card-footer a:hover {
                        text-decoration: none;
                    }
                </style>
                <img src="baptiste_esteban_photo.png" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Baptiste Esteban, PhD</h5>
                    <p class="card-subtitle">Associate Professor</p>
                    <p class="card-text">
                        <a href="https://www.lre.epita.fr/">EPITA
                            Research Laboratory</a><br>
                        14-16 rue Voltaire<br>
                        94270 Le Kremlin-Bicêtre<br>
                        FRANCE
                    </p>
                </div>
                <div class="card-footer"
                    style="height: 3em; display: flex; justify-content: center; align-items: center;">
                    <a href="mailto:baptiste.esteban@epita.fr" target="_blank" rel="noopener" class="">
                        <i class="fa-enveloppe icon-hover fa-2x mx-2"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/baptisteesteban" target="_blank" rel="noopener">
                        <i class="fa-linkedin icon-hover fa-2x mx-2"></i>
                    </a>
                    <a href="https://github.com/baptisteesteban" target="_blank" rel="noopener">
                        <i class="fa-github icon-hover fa-2x mx-2"></i>
                    </a>
                    <a href="https://orcid.org/0000-0002-6477-7666" target="_blank" rel="noopener">
                        <i class="fa-orcid icon-hover fa-2x mx-2"></i>
                    </a>
                    <a href="https://scholar.google.com/citations?user=oMFBuyEAAAAJ&hl=fr&oi=ao" target="_blank"
                        rel="noopener">
                        <i class="fa-google-scholar icon-hover fa-2x mx-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="shadow-none p-4 mb-5 bg-body-tertiary rounded h-100">
                <h1>About Me</h3>

                    <p class="mt-4">I am an Associate Professor at <a href="https://www.epita.fr/">EPITA</a>, and I
                        conduct my
                        research at <a href="https://www.lre.epita.fr/">EPITA
                            Research Laboratory</a> (LRE) within the TIRF group. My
                        research interests mainly focus on Mathematical Morphology,
                        and particularly on hierarchical representations of images.
                        To this aim, I maintain <a href="https://gitlab.lre.epita.fr/olena/pylene">Pylene</a>,
                        a generic and efficient image processing library, and its
                        associated Python bindings, <a href="https://gitlab.lre.epita.fr/olena/pylena">Pylena</a>.
                        More information is available <a href="#">here</a> about my
                        research activities.</p>

                    <p>My teaching activities focus on programming (
                        <i>C++ programming, Advanced C++ programming, Python for Big Data
                        </i>) and image processing, particularly within the
                        EPITA IMAGE major (but not restricted to). Since
                        February 2025, I am the co-head of the EPITA IMAGE major
                        with <a href="https://www.lre.epita.fr/perso/%C3%A9lodie-puybareau/">Élodie
                            Puybareau</a>. More information is available <a href="">here</a> about my teaching
                        activities.
                    </p>

                    <p>I obtained an Engineering Degree in Computer Science at
                        EPITA in 2020, with a major in <a
                            href="https://www.epita.fr/diplome-ingenieur/cycle-ingenieur/les-majeures/#majeure-image">Image
                            Processing</a> doubled with the Research and Development
                        major. I then obtained a PhD from Sorbonne Université in
                        2023 on the subject of <a href="https://theses.hal.science/tel-04531954v1">A Generic,
                            Efficient, and Interactive Approach to Image Processing with
                            Applications in Mathematical Morphology</a> under the
                        supervision of <a href="https://www.lre.epita.fr/perso/guillaume-tochon/">Guillaume
                            Tochon</a>, <a href="https://www.lre.epita.fr/perso/edwin-carlinet/">Edwin Carlinet</a>, and
                        <a href="https://www.lre.epita.fr/perso/didier-verna/">Didier
                            Verna</a>. After my thesis, I worked at <a href="https://www.spimed-ai.com/">Spimed-AI</a>
                        on automatic Coronary Artery Dicease (CAD) diagnosis
                        from Coronary CT Angiography until September 2025.
                    </p>

                    <p><strong>Keywords:</strong> &emsp;<a class="badge
                    text-bg-primary" href="https://en.wikipedia.org/wiki/Mathematical_morphology">Mathematical
                            Morphology</a> <a class="badge text-bg-primary"
                            href="https://people.irisa.fr/Sebastien.Lefevre/publis/joi2018.pdf">Hierarchical
                            Representations of Images</a> <a class="badge
                    text-bg-primary" href="https://en.wikipedia.org/wiki/Generic_programming">Generic
                            Programming</a> <a class="badge text-bg-primary"
                            href="https://en.wikipedia.org/wiki/C%2B%2B">C++
                            language</a> <a class="badge text-bg-primary" href="https://www.python.org/">Python
                            language</a> <a class="badge text-bg-primary"
                            href="https://en.wikipedia.org/wiki/Medical_imaging">Medical Imaging</a></p>
            </div>
        </div>
    </div>

</div>
{% endblock content %}