{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4 mb-4 mb-lg-0">
            <div class="card">
                <style>
                    .card-footer a {
                        text-decoration: none;
                    }
                </style>
                <img src="baptiste_esteban_photo.png" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Baptiste Esteban, PhD</h5>
                    <p class="card-subtitle">Associate Professor</p>
                    <p class="card-text">
                        <a href="https://www.lre.epita.fr/"
                            class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">EPITA
                            Research Laboratory</a><br>
                        14-16 rue Voltaire<br>
                        94270 Le Kremlin-Bicêtre<br>
                        FRANCE
                    </p>
                </div>
                <div class="card-footer"
                    style="height: 3em; display: flex; justify-content: center; align-items: center;">
                    <a href="mailto:baptiste.esteban@epita.fr" target="_blank" rel="noopener" class="">
                        <i class="fa-enveloppe icon-hover fa-2x mx-2"></i>
                    </a>
                    <a href="#" target="_blank" rel="noopener">
                        <i class="fa-linkedin icon-hover fa-2x mx-2"></i>
                    </a>
                    <a href="#" target="_blank" rel="noopener">
                        <i class="fa-github icon-hover fa-2x mx-2"></i>
                    </a>
                    <a href="#" target="_blank" rel="noopener">
                        <i class="fa-orcid icon-hover fa-2x mx-2"></i>
                    </a>
                    <a href="#" target="_blank" rel="noopener">
                        <i class="fa-google-scholar icon-hover fa-2x mx-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">

        </div>
    </div>

</div>
{% endblock content %}