<div class="card h-100">
    <style>
        .card-footer a:hover {
            text-decoration: none;
        }
    </style>
    <img src="{{ config.extra.card.picture_path }}" class="card-img-top">
    <div class="card-body text-center">
        <h5 class="card-title">{{ config.extra.card.firstname }} {{ config.extra.card.lastname }}{% if config.extra.card.extra_title %}, {{ config.extra.card.extra_title }}{% endif %}

        </h5>
        <p class="card-subtitle">{{ config.extra.card.position }}</p>
        <p class="card-text">
            {% if config.extra.card.company_website %}
                <a href="{{ config.extra.card.company_website }}">{{ config.extra.card.company }}</a>
            {% else %}
                {{ config.extra.card.company }}
            {% endif %}
            <br>
            {% if config.extra.card.company_street %}
                {{ config.extra.card.company_street }}<br>
            {% endif %}
            {{ config.extra.card.company_city }}<br>
            {{ config.extra.card.company_country }}
        </p>
    </div>
    <div class="card-footer" style="height: 3em; display: flex; justify-content: center; align-items: center;">
        <a href="mailto:{{ config.extra.card.email }}" target="_blank" rel="noopener" class="">
            <i class="fa-enveloppe icon-link icon-hover fa-2x mx-2"></i>
        </a>
        {% if config.extra.card.linkedin %}
        <a href="{{ config.extra.card.linkedin }}" target="_blank" rel="noopener">
            <i class="fa-linkedin icon-link icon-hover fa-2x mx-2"></i>
        </a>
        {% endif %}
        {% if config.extra.card.github %}
        <a href="{{ config.extra.card.github }}" target="_blank" rel="noopener">
            <i class="fa-github icon-link icon-hover fa-2x mx-2"></i>
        </a>
        {% endif %}
        {% if config.extra.card.orcid %}
        <a href="{{ config.extra.card.orcid }}" target="_blank" rel="noopener">
            <i class="fa-orcid icon-link icon-hover fa-2x mx-2"></i>
        </a>
        {% endif %}
        {% if config.extra.card.scholar %}
        <a href="{{ config.extra.card.scholar }}" target="_blank" rel="noopener">
            <i class="fa-google-scholar icon-link icon-hover fa-2x mx-2"></i>
        </a>
        {% endif %}
    </div>
</div>