<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% set root = get_section(path="_index.md") %}
                <a class="nav-link" href="{{ root.permalink | safe }}">{{ root.title }}</a>
                {% for sp in root.subsections %}
                {% set subsection = get_section(path=sp) %}
                <a class="nav-link" href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>